body {
    background-image: url("london.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: rgba(133, 129, 124, 0.411);
}

/* current temperature */
.temperature {
    font-size: 120px;
    color:rgb(53, 52, 52);
    padding-bottom: 18px;
    margin: 0;
    text-shadow: 4px 3px 0 #fff;
}

#date, .feelsLike, #time, .conditions {
    font-size: 20px;
    color:rgb(53, 52, 52);
    margin: 0;
}

.conditionsBlock img {
    height: 80px;
}

.conditionsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentWeatherContainetr {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'Kaisei HarunoUmi', serif;
    margin-top: 150px;
}

.currentWeather {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.268);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    backdrop-filter: blur(20px);
}

.conditionsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* a city info */

.locationInfo {
    display: flex;
    position: absolute;
    top: 10px;
}

.cityBlock {
    position: absolute;
    left: 100px;
}

.questionAboutCity {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-top: 10px;
    margin-left: 20px;
}

.buttonsOfQuestion {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.questionBlock {
    background-color: rgba(255, 255, 255, 0.268);
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}

.triangular {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(255, 255, 255, 0.268);
    top: -20px;
    left: 70px;
    position: relative;
}


.buttonsOfQuestion button {
    font-size: 13px;
    color:rgb(53, 52, 52);
    font-family: 'Kaisei HarunoUmi', serif;
    padding: 2px 20px;
    border-radius: 10px;
    border: 2px;
    cursor: pointer;
}

.questionText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
}

.questionText p {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 14px;
    color:rgb(53, 52, 52);
    margin-bottom: 15px;
    font-family: 'Kaisei HarunoUmi', serif;
}

.questionText img {
    height: 20px;
    cursor: pointer;
}


.cityName {
    width: fit-content;
    cursor: pointer;
    margin-left: 25px;
    color:rgb(53, 52, 52);
    font-family: 'Kaisei HarunoUmi', serif;
    
}

.cityInput {
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    color:rgb(53, 52, 52);
    backdrop-filter: blur(20px);
    position: relative;
    left: 25px;
    height: 80px;
	-webkit-transition:500ms linear;
	-moz-transition:500ms linear;
	-o-transition:500ms linear;
	-ms-transition:500ms linear;
	transition:500ms ease;
    border: none;
    outline: none
}

.cityInputSmall {
    width: 80px;
}

.cityInput:focus {
    background-color: #fff;
    outline: none !important;
    border: 1px solid #CDF3A2;
    background-position: left !important
}

.cityInput::placeholder {
    font-size: 20px;
    padding: 20px;
}

input[type=text]::-webkit-input-placeholder {
    color: transparent;
    transition: color .5s;
    background-image: url(location.png);
    background-position: 25px;
    background-repeat: no-repeat;
    background-size: 30px;
}

.emergence::placeholder {
    color: rgb(179, 178, 178) !important;
}

.redBorder {
    border: 3px solid rgba(221, 87, 87, 0.602) !important;
}

